
<div class="row">
  <div class="col-md-8">
    One of three columns
  </div>
  <div class="col-md">
    <p><a href="/customers">Log In</a>/<a href="/customers/new">Create Account</a></p>
  </div>
  <div class="col-md">
    cart
  </div>
  <div class="col-md">
    <div class="d-flex justify-content-center">
      <div class="border border-primary rounded">
        <div class="row p-3">
          <%= bootstrap_form_with url: "/products", method: :get, bootstrap: { layout: "inline" } do |form| %>
            <div class="col">
              <%=
                form.text_field :query, placeholder: "Search",
                bootstrap: { label: {hidden: true }}
              %>
            </div>
            <div class="col">
              <%= form.collection_select :category_id, Category.order(:name), :id, :name, include_blank: "All" %>
            </div>
            <div class="col">
              <%= form.submit "Search" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center">Ruby Gems Coffee Roasters</h1>
<hr />
<ul class="nav justify-content-center">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/categories/" role="button" aria-expanded="false">Shop</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Brew Gear</a></li>
      <li><a class="dropdown-item" href="#">Light Roast</a></li>
      <li><a class="dropdown-item" href="#">Medium Roast</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Locations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mission</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul>
<hr style="margin-bottom: 0px;"/>