<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("jakub.jpg", class: "d-block w-100", alt: "...", height: "753", width: "1130")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("nathan.jpg", class: "d-block w-100", alt: "...")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("rivers.jpg", class: "d-block w-100", alt: "...")%>
    </div>
  </div>
</div>
<hr style="margin-top: 0px;"/>
  <%= render "shared/categories" %>
<hr />

