<h1>Please Sign In</h1>
<%= bootstrap_form_with url: "/signin", method: :get, bootstrap: { layout: "inline" } do |form| %>
  <%= form.email_field :email, required: true %>
  <%= form.password_field :password, required: true %>
  <%= form.submit "Log In" %>
<% end %>