<% if @customer %>
  <h1>Hello <%= @customer.first_name %>, you can start shopping!</h1>
  <h3>View:</h3>
  <ul>
    <li>
      <a href="/addresses">Addresses</a>
    </li>
    <li>
      <a href="#">Orders</a>
    </li>
  </ul>
<% else %>
  <p>Sorry. Something went wrong. Please try signing in again.</p>
<% end %>